.footer_container{
    position: fixed;
    bottom: 0;
    height: 22%;
    width: 100%;
    background-color: #f7fcf9;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px #969597; 
}
.feature{
    color: #38226b;
    border-left: 3px #38226b solid;
    font-size: 16px;
    font-weight: 500;
    width: 25%;
    height: 70%;
    float: left;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 1%;
    
    padding-left: 15px;
    

}
.icon{
    font-size: 40px;
    vertical-align: middle;
    
}
.desc{
    font-size: 14px;
    color: rgb(97, 97, 97);
    margin: 0;
}
.fea{
    margin: 0;
}